{% load blog_tags %}
{% if comments %}

    {% for c in comments %}
    <li class="comment">
      <div class="comment-body">
        <h3><a href="{{c.author.user.get_absolute_url}}">{{ c.author }}</a> ответил <a href="{{c.parent.author.user.get_absolute_url}}">{{c.parent.author}}</a></h3>
        <div class="meta">{{ c.created|date:'F d, Y' }}</div>
        <p>{{ c.content }}</p>
      </div>
      {% include 'blog/includes/reply_form.html' with post_id=post_id post_slug=post_slug %}
    </li>
    {% if c.children %}
    <ul class="children">
        {% show_children_comments comment=c form=form post_id=post_id post_slug=post_slug %}
  </ul>
    {% endif %}
      {% endfor %}
{% endif %}