{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if redirect_to_login %}
    {% url 'users:login' as login_url %}
    <script>window.location.href = "{{ login_url }}";</script>
{% endif %}

<div class="filter-bar">
    <a href="{% url 'blog:home' %}" class="link">Все посты</a>&nbsp|&nbsp<a href="{% url 'blog:home' %}?subscribe=1" class="link">Мои подписки</a>
</div>
    {% for p in posts %}
    <div class="col-md-12">
      <a href="{{p.author.user.get_absolute_url}}">{{p.author}}</a>
      <div class="blog-entry ftco-animate d-md-flex">
        {% if p.photo %}
        <a href="{{p.get_absolute_url}}" class="img img-2" style="background-image: url({{ p.photo.url }});"></a>
        {% endif %}
        <div class="text text-2 pl-md-4">
  <h3 class="mb-2"><a href="{{p.get_absolute_url}}">{{ p.title }}</a></h3>
  <div class="meta-wrap">
            <p class="meta">
      <span><i class="icon-calendar mr-2"></i>{{ p.publish|date:'F d, Y H:i' }}</span>
      {% for t in p.tags.all %}
        <span><a href="{% url 'blog:home' %}?tag_slug={{t.slug}}"><i class="icon-folder-o mr-2"></i>{{ t }}</a></span>
			{% endfor %}
      <span><i class="icon-comment2 mr-2"></i>{{ p.comments.count }}</span>
    </p>
  </div>
  <p class="mb-4">{{p.content|truncatewords:20|linebreaks}}</p>
  <p><a href="{{p.get_absolute_url}}" class="btn-custom">Читать пост <span class="ion-ios-arrow-forward"></span></a></p>
  </div>
      </div>
    </div>
    {% endfor %}
{% endblock content %}


{% block recommended %}
{% include 'blog/includes/populated_posts.html' %}
{% endblock recommended %}
