
{% extends 'base.html' %}
{% load blog_tags %}
{% block content %}
    <span><i class="icon-eye mr-2"></i>{% get_post_views post=post %}</span>
            <h1 class="mb-3">{{ post.title|markdown }}</h1>

    {% if post.photo %}
    <img src="{{ post.photo.url }}" alt="" class="img-fluid">
    {% endif %}
    </p>
    <p>{{ post.content|linebreaks|markdown }}</p>
      <img src="images/image_2.jpg" alt="" class="img-fluid">
    </p>
    <div class="tag-widget post-tag-container mb-5 mt-5">
      <div class="tagcloud">
        {% for t in post.tags.all %}
            <a href="{% url 'blog:home' %}?tag_slug={{t.slug}}" class="tag-cloud-link">{{ t }}</a>
        {% endfor %}
      </div>
    </div>

    <div class="pt-5 mt-5">
      <h3 class="mb-5 font-weight-bold">Комментарии:</h3>
      <ul class="comment-list">
        {% include 'blog/includes/show_comments.html' with post_id=post.id post_slug=post.slug %}

      </ul>
      <!-- END comment-list -->

      {% include 'blog/includes/comments_form.html' with post_id=post.id post_slug=post.slug %}
    </div>
{% endblock content %}
{% block recommended%}
<div class="sidebar-box ftco-animate">
	<h3 class="sidebar-heading">Рекомендуемые посты</h3>
	{% get_similar_posts post=post as similar_posts %}
	{% for p in similar_posts %}
	<div class="block-21 mb-4 d-flex">
		{% if p.photo %}
		<a class="blog-img mr-4" style="background-image: url({{ p.photo.url }});"></a>
		{% else %}
		<a class="blog-img mr-4" style="background-image: url();"></a>
        {% endif %}
	  <div class="text">
		<h3 class="heading"><a href="{{ p.get_absolute_url }}"> {{ p.title }}</a></h3>
		<div class="meta">
		  <div><a href="{{ p.get_absolute_url }}"><span class="icon-calendar"></span> {{ p.publish|date:'F d, Y H:i' }}</a></div>
		  <div><a href="{{ p.author.user.get_absolute_url }}"><span class="icon-person"></span> {{ p.author }}</a></div>
		  <div><a href="{{ p.get_absolute_url }}"><span class="icon-chat"></span> {{ p.comments.count }}</a></div>
          <div><a href="{{ p.get_absolute_url }}"><span><i class="icon-eye mr-2"></i></span>{% get_post_views post=p %}</a></div>
		</div>
	  </div>
	</div>
	{% endfor %}
  </div>
{% endblock recommended %}

{% block search %}
{% include 'blog/includes/search_form.html' %}
{% endblock search %}
