<div>
  <div>
  <h2>{{profile.user.first_name}} {{profile.user.last_name}}</h2>
  </div>
<h3><p>{{profile.user.username}}</p></h3>
{% if profile.photo %}
<img src="{{ profile.photo.url }}" alt="user_photo" style="width: 200px; height: auto;">
{% endif %}
    <p>Email: {{profile.user.email}}</p>
    {% if following %}
    <a href="{% url 'users:subscribe' profile_slug=profile.user.username%}?following=1">Отписаться</a><br>
    {% else %}
    <a href="{% url 'users:subscribe' profile_slug=profile.user.username%}?following=0">Подписаться</a><br>
    {% endif %}
  </div>